@{
    ViewBag.Title = "Home Page";
}


<div class="row">
    <div class="col-md-4">
        <h2>RBL Bloodbank</h2>
        <p>ব্লাড ব্যাংক এন্ড্রয়েড এপ লিংকঃ <a href="~/Content/download/rbl_bloodbank.apk" target="_blank">এন্ড্রয়েড এপ</a></p>
    
        <p>আপডেটসঃ</p>
        <ul>
            <li>Logo change</li>
            <li>Color for pending donors</li>
            <li>pending donors at the top of admin list</li>
            <li>user logins created</li>
            <li>Datepicker issue in registration solved</li>
            <li>Appname changed to Rupali Blood Bond</li>
            <li>User creation/login for New Blood Donors</li>
        </ul>
    </div>    
</div>