@{
    ViewBag.Title = "Home Page";
}


<div class="row">
    <div class="col-md-4">
        <h2>RBL Bloodbank</h2>
        <p>ব্লাড ব্যাংক এন্ড্রয়েড এপ লিংকঃ <a href="~/Content/download/rbl_bloodbank.apk" target="_blank">এন্ড্রয়েড এপ</a></p>
    
        <p>আপডেটসঃ</p>
        <ul>
            <li>New menus added</li>
            <li>You can now post for blood donation</li>
            <li>Blood donation request list created</li>
            <li>You can now login with mobile number/reg. no</li>
        </ul>
    </div>    
</div>